/* Code for making hexagons taken from: https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/*/
.main {
  display:flex;
  --s: 100px;  /* size  */
  --m: 4px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

.container {
  font-size: 0; /*disable white space between inline block element */
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: grey;
  margin-bottom: calc(var(--m) - var(--s)*0.2885); 
  
  
}
.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000  0 var(--f));
  
}

.overlay {
  position: fixed;
  z-index: 10;
  height: 70%;
  width: 75%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 250px;
  font-size: 25px;
  font-weight: bold;
  background-color: grey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  animation: idle 10s;
  animation-iteration-count: infinite;
  -webkit-animation: idle 10s infinite alternate;
}

a:hover, a:active {
   animation: colorFlow 10s;
  animation-iteration-count: infinite;
  -webkit-animation: colorFlow 10s infinite alternate;
}

@keyframes colorFlow {
      0%   {background: blue;}
      25%  {background: aqua;}
      50%  {background: blue;}
      75%  {background: aqua;}
      100% {background: blue;}
      125%  {background: aqua;}
}

@keyframes idle {
  0% {background: lightgrey;}
  25% {background: darkgrey;}
  50% {background: lightgrey;}
  75% {background: darkgrey;}
  100% {background: lightgrey;}
  125% {background: darkgrey;}
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9076ff, 0 0 40px #9076ff, 0 0 50px #9076ff, 0 0 60px #9076ff, 0 0 70px #9076ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #00FFFF, 0 0 50px #00FFFF, 0 0 60px #9076ff, 0 0 70px #00FFFF, 0 0 80px #00FFFF;
  }
}
